::-webkit-scrollbar {
    width: 3px;
    height: 5px;
      background-color: rgba(245, 245, 245, 0.37);
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: rgba(245, 245, 245, 0.144);
      border-radius: 10px;
     
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(28, 132, 184 0.144);
      background-image: -webkit-gradient(linear,
                                         left bottom,
                                         left top,
                                         color-stop(0.44, rgb(184, 28, 28)),
                                         color-stop(0.72, rgb(184, 28, 28)),
                                         color-stop(0.86, #8c0606));
  
  }